@charset "utf-8";
/*----------------------------------------------------------------------------------
  ◆引用元基本設定
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
	◆サブメニュー
----------------------------------------------------------------------------------*/
/*サブメニュー共通*/
#submenu {
  display: block;
  width: 460px;
  height: 58px;
  margin: 0 auto 0px auto;
  padding: 0;
  position: relative;
  text-align: left;
}
#submenu ul {
  display: block;
  width: 460px;
  height: 58px;
  padding: 0;
  position: relative;
  text-align: left;
}
#submenu ul li {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  height: 58px;
  margin: 0 0px 0px 0px;
  padding: 0;
  float: left;
  cursor: pointer;
}
#submenu ul li a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  height: 58px;
  margin: 0;
  padding: 0;
}

/* -------------◆◆サブメニュー・プレイヤーデータ◆◆----------- */
#submenu {
  /*ホーム*/
  /*プレイヤーデータ*/
  /*レーティング対象曲*/
}

#submenu .submenu_player_home {
  width: 153px;
  background-position: 0 0;
}
#submenu .submenu_player_home:active, #submenu .submenu_player_home_on {
  width: 153px;
  background-position: 0 -58px;
}
#submenu .submenu_player_detail {
  width: 153px;
  background-position: -153px 0;
}
#submenu .submenu_player_detail:active, #submenu .submenu_player_detail_on {
  width: 153px;
  background-position: -153px -58px;
}
#submenu .submenu_player_rating {
  width: 154px;
  background-position: -306px 0;
}
#submenu .submenu_player_rating:active, #submenu .submenu_player_rating_on {
  width: 154px;
  background-position: -306px -58px;
}


/*サブメニュー・プレイヤーデータの画像指定*/
.submenu_player_home, .submenu_player_home:active, .submenu_player_home_on,
.submenu_player_detail, .submenu_player_detail:active, .submenu_player_detail_on,
.submenu_player_rating, .submenu_player_rating:active, .submenu_player_rating_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_player.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・レコード◆◆----------- */
#submenu {
  /*マップ*/
  /*プレイ履歴*/
  /*楽曲別レコード*/
}
#submenu .submenu_map {
  width: 153px;
  background-position: 0 0;
}
#submenu .submenu_map:active, #submenu .submenu_map_on {
  width: 153px;
  background-position: 0 -58px;
}
#submenu .submenu_play {
  width: 153px;
  background-position: -153px 0;
}
#submenu .submenu_play:active, #submenu .submenu_play_on {
  width: 153px;
  background-position: -153px -58px;
}
#submenu .submenu_record {
  width: 154px;
  background-position: -306px 0;
}
#submenu .submenu_record:active, #submenu .submenu_record_on {
  width: 154px;
  background-position: -306px -58px;
}

/*サブメニュー・レコードの画像指定*/
.submenu_map, .submenu_map:active, .submenu_map_on,
.submenu_play, .submenu_play:active, .submenu_play_on,
.submenu_record, .submenu_record:active, .submenu_record_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_record.png?ver=1.45);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・コレクション◆◆----------- */
#submenu {
  /*キャラクター・スキル*/
  /*称号*/
  /*チケット*/
  /*ネームプレート*/
}
#submenu .submenu_chara {
  width: 115px;
  height: 61px;
  background-position: 0 0;
}
#submenu .submenu_chara:active, #submenu .submenu_chara_on {
  width: 115px;
  background-position: 0 -58px;
}
#submenu .submenu_title {
  width: 115px;
  background-position: -115px 0;
}
#submenu .submenu_title:active, #submenu .submenu_title_on {
  width: 115px;
  background-position: -115px -58px;
}
#submenu .submenu_ticket {
  width: 115px;
  background-position: -230px 0;
}
#submenu .submenu_ticket:active, #submenu .submenu_ticket_on {
  width: 115px;
  background-position: -230px -58px;
}
#submenu .submenu_customise {
  width: 115px;
  height: 61px;
  background-position: -345px 0;
}
#submenu .submenu_customise:active, #submenu .submenu_customise_on {
  width: 115px;
  background-position: -345px -58px;
}

/*サブメニュー・コレクションの画像指定*/
.submenu_chara, .submenu_chara:active, .submenu_chara_on,
.submenu_title, .submenu_title:active, .submenu_title_on,
.submenu_customise, .submenu_customise:active, .submenu_customise_on,
.submenu_ticket, .submenu_ticket:active, .submenu_ticket_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_collection.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・ランキング◆◆----------- */
#submenu {
  /*楽曲別ランキング*/
  /*レーティング*/
  /*トータルハイスコア*/
  /*総獲得ゲーム内通貨*/
}
#submenu .submenu_ranking {
  width: 115px;
  background-position: 0 0;
}
#submenu .submenu_ranking:active, #submenu .submenu_ranking_on {
  width: 115px;
  background-position: 0 -58px;
}
#submenu .submenu_rating {
  width: 115px;
  background-position: -115px 0;
}
#submenu .submenu_rating:active, #submenu .submenu_rating_on {
  width: 115px;
  background-position: -115px -58px;
}
#submenu .submenu_highscore {
  width: 115px;
  background-position: -230px 0;
}
#submenu .submenu_highscore:active, #submenu .submenu_highscore_on {
  width: 115px;
  background-position: -230px -58px;
}
#submenu .submenu_dolce {
  width: 115px;
  background-position: -345px 0;
}
#submenu .submenu_dolce:active, #submenu .submenu_dolce_on {
  width: 115px;
  background-position: -345px -58px;
}

/*サブメニュー・ランキングの画像指定*/
.submenu_ranking, .submenu_ranking:active, .submenu_ranking_on,
.submenu_rating, .submenu_rating:active, .submenu_rating_on,
.submenu_highscore, .submenu_highscore:active, .submenu_highscore_on,
.submenu_dolce, .submenu_dolce:active, .submenu_dolce_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_ranking.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・フレンド◆◆----------- */
#submenu {
  /*フレンド*/
  /*フレンド候補*/
  /*申請中*/
  /*受付中*/
  /*フレンドVS*/
}
#submenu .submenu_friend {
  width: 92px;
  background-position: 0 0;
}
#submenu .submenu_friend:active, #submenu .submenu_friend_on {
  width: 92px;
  background-position: 0px -58px;
}
#submenu .submenu_friend_candidate {
  width: 92px;
  background-position: -92px 0;
}
#submenu .submenu_friend_candidate:active, #submenu .submenu_friend_candidate_on {
  width: 92px;
  background-position: -92px -58px;
}
#submenu .submenu_apply {
  width: 92px;
  background-position: -184px 0;
}
#submenu .submenu_apply:active, #submenu .submenu_apply_on {
  width: 92px;
  background-position: -184px -58px;
}
#submenu .submenu_accept {
  width: 92px;
  background-position: -276px 0;
}
#submenu .submenu_accept:active, #submenu .submenu_accept_on {
  width: 92px;
  background-position: -276px -58px;
}
#submenu .submenu_friend_vs {
  width: 92px;
  background-position: -368px 0;
}
#submenu .submenu_friend_vs:active, #submenu .submenu_friend_vs_on {
  width: 92px;
  background-position: -368px -58px;
}

/*サブメニュー・フレンドの画像指定*/
.submenu_friend, .submenu_friend:active, .submenu_friend_on,
.submenu_friend_candidate, .submenu_friend_candidate:active, .submenu_friend_candidate_on,
.submenu_apply, .submenu_apply:active, .submenu_apply_on,
.submenu_accept, .submenu_accept:active, .submenu_accept_on,
.submenu_friend_vs, .submenu_friend_vs:active, .submenu_friend_vs_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_friend.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・WORLD'S END◆◆----------- */

#submenu {
  /*WORLD'S ENDレコード*/
  /*WORLD'S ENDランキング*/
}
#submenu .submenu_worlds_ranking {
  width: 223px;
  background-position: 0 0;
}
#submenu .submenu_worlds_ranking:active, #submenu .submenu_worlds_ranking_on {
  width: 223px;
  background-position: 0 -61px;
}
#submenu .submenu_worlds_record {
  width: 223px;
  background-position: -223px 0;
}
#submenu .submenu_worlds_record:active, #submenu .submenu_worlds_record_on {
  width: 223px;
  background-position: -223px -61px;
}

/*サブメニュー・WORLD'S ENDの画像指定*/
.submenu_worlds_record, .submenu_worlds_record:active, .submenu_worlds_record_on,
.submenu_worlds_ranking, .submenu_worlds_ranking:active, .submenu_worlds_ranking_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_worldsend.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・コース◆◆----------- */
#submenu {
  /*コースレコード*/
  /*コースランキング*/
}
#submenu .submenu_course_ranking {
  width: 223px;
  background-position: 0 0;
}
#submenu .submenu_course_ranking:active, #submenu .submenu_course_ranking_on {
  width: 223px;
  background-position: 0 -61px;
}
#submenu .submenu_course_record {
  width: 223px;
  background-position: -223px 0;
}
#submenu .submenu_course_record:active, #submenu .submenu_course_record_on {
  width: 223px;
  background-position: -223px -61px;
}

/*サブメニュー・コースの画像指定*/
.submenu_course_record, .submenu_course_record:active, .submenu_course_record_on,
.submenu_course_ranking, .submenu_course_ranking:active, .submenu_course_ranking_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_course.png);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・チーム◆◆----------- */
#submenu {
  /*チーム参加*/
  /*チーム作成*/
}
#submenu .submenu_teamentry {
  width: 230px;
  background-position: 0 0;
}
#submenu .submenu_teamentry:active, #submenu .submenu_teamentry_on {
  width: 230px;
  background-position: 0 -58px;
}
#submenu .submenu_teamcreate {
  width: 230px;
  background-position: -230px 0;
}
#submenu .submenu_teamcreate:active, #submenu .submenu_teamcreate_on {
  width: 230px;
  background-position: -230px -58px;
}
/*サブメニュー・未所属チームの画像指定*/
.submenu_teamentry, .submenu_teamentry:active, .submenu_teamentry_on,
.submenu_teamcreate, .submenu_teamcreate:active, .submenu_teamcreate_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_team.png);
  background-repeat: no-repeat;
}

#submenu {
  /*TOP*/
  /*メンバー*/
  /*チームコース*/
  /*掲示板*/
  /*チーム管理*/
}
#submenu .submenu_teamtop {
  width: 92px;
  background-position: 0 0;
}
#submenu .submenu_teamtop:active, #submenu .submenu_teamtop_on {
  width: 92px;
  background-position: 0 -58px;
}
#submenu .submenu_member {
  width: 92px;
  background-position: -92px 0;
}
#submenu .submenu_member:active, #submenu .submenu_member_on {
  width: 92px;
  background-position: -92px -58px;
}
#submenu .submenu_teamcourse {
  width: 92px;
  background-position: -184px 0;
}
#submenu .submenu_teamcourse:active, #submenu .submenu_teamcourse_on {
  width: 92px;
  background-position: -184px -58px;
}
#submenu .submenu_noticeboard {
  width: 92px;
  background-position: -276px 0;
}
#submenu .submenu_noticeboard:active, #submenu .submenu_noticeboard_on {
  width: 92px;
  background-position: -276px -58px;
}
#submenu .submenu_teamoption {
  width: 92px;
  background-position: -368px 0;
}
#submenu .submenu_teamoption:active, #submenu .submenu_teamoption_on {
  width: 92px;
  background-position: -368px -58px;
}

/* 加入申請表示の位置変更対応 */
.submenu_teamoption:active > div[class*="team_apply_number"] {
  top: -18px;
  right: 26px;
}

/*サブメニュー・チームの画像指定*/
.submenu_teamtop, .submenu_teamtop:active, .submenu_teamtop_on,
.submenu_member, .submenu_member:active, .submenu_member_on,
.submenu_teamcourse, .submenu_teamcourse, .submenu_teamcourse_on,
.submenu_noticeboard, .submenu_noticeboard:active, .submenu_noticeboard_on,
.submenu_teamoption, .submenu_teamoption:active, .submenu_teamoption_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_team_top.png?ver=1.45);
  background-repeat: no-repeat;
}

/* -------------◆◆サブメニュー・KOP◆◆----------- */
#submenu {
  /*コースレコード*/
  /*コースランキング*/
}
#submenu .submenu_kop_entry {
  width: 230px;
  background-position: 0 0;
}
#submenu .submenu_kop_entry:active, #submenu .submenu_kop_entry_on {
  width: 230px;
  background-position: 0 -58px;
}
#submenu .submenu_kop_ranking {
  width: 230px;
  background-position: -230px 0;
}
#submenu .submenu_kop_ranking:active, #submenu .submenu_kop_ranking_on {
  width: 230px;
  background-position: -230px -58px;
}

/*サブメニュー・コースの画像指定*/
.submenu_kop_entry, .submenu_kop_entry:active, .submenu_kop_entry_on,
.submenu_kop_ranking, .submenu_kop_ranking:active, .submenu_kop_ranking_on {
  background-image: url(https://chunithm.wahlap.com/mobile/images/submenu_KOP.png);
  background-repeat: no-repeat;
}
